header {
    background-color: #282828;
    height: 50px;
    padding: 1rem;
    color: #999999;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.wrapper {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper ul li {
    margin-left: 40px;
}